@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
	height: 100%;
	font-family: 'Numans', sans-serif;
}

.modal-content {
	margin-top: auto;
	margin-bottom: auto;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.modal-header h3 {
	color: white;
}

.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

input[type="checkbox"]+label,
input[type="radio"]+label,
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
	margin-top: .5em;
	cursor: pointer;
}

.formajaxer {
	float: right;
	background: transparent;
	opacity: 0.7;
	border-radius: 10px;
	margin-right: .9em;
}